div {
    text-align: center; 
    padding: 100px 0;
}

ul {
    list-style: none;
}

// .hero {
//     align-items: center; // Vertically align items
//     justify-content: center; // Horizontally center items

//   }

  img {
    max-width: 600px; // Adjust the max-width as needed
    height: auto; 
  }

  h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
  }

  p {
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }