<div class="roboto-regular ">
    <img src="assets/hero-image.png" alt="Hero Image"> 
    <section class="hero">
    <div class="hero-content"> 
        <h1>GetOneDev: Crafting Innovative Software Solutions</h1>
        <p>Boosting Businesses with User-Friendly Technology</p>
        <button>Get a Free Consultation</button>
    </div>
    <br>
    <hr>
    </section>

    <section class="services">
    <h1>Our Services</h1>
    <p>We offer a wide range of services, including:</p>
    <ul>
        <li>Web App Development</li>
        <li>API Development</li>
        <li>Enterprise Software Solutions</li>
        <li>Azure Cloud Solutions</li>
        <li>API Integration</li>
        <li>Web Hosting</li>
        <li>SEO Optimization</li>
    </ul>
    <button>Learn More</button>
    <br>
    <hr>
    </section>

    <section class="why-us">
    <h1>Why Choose GetOneDev?</h1>
    <p>With our client-focused approach, we guarantee results. For free consultations, get in touch with us today!</p>
    </section>
</div>